<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text pl-4 rtl:pr-4 py-3">Create A new Bank Account</div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="!pt-4">
        <form [formGroup]="ModifyAccountForm">
            <!--  -->
            <div class="flex flex-wrap">
                <div class="w-full md:w-1/2 md:pr-6">
                    <div class="!pb-4">
                        <mat-form-field class="full-width">
                            <input
                            matInput
                            name="Bank Account"
                            formControlName="accountNumber"
                            placeholder="BankAccountNumber (Min Length: 4, Max Length: 9)"
                            >
                            <!-- <mat-error *ngIf="ModifyAccountForm.get('accountNumber').invalid && ModifyAccountForm.get('accountNumber').touched">
                                Account Number is required.
                            </mat-error>     -->
                        </mat-form-field>
                    </div>

                    <div class="!pb-4">
                        <mat-form-field class="full-width">
                            <input
                            matInput
                            name="rib"
                            placeholder="RIB"
                            formControlName="rib"
                            >
                            <!-- <mat-error *ngIf="ModifyAccountForm.get('rib').invalid && ModifyAccountForm.get('rib').touched">
                                RIB is required.
                            </mat-error>     -->

                        </mat-form-field>
                    </div>

                    <div class="!pb-4">
                        <mat-form-field class="full-width">
                        <input
                            matInput
                            type="number"
                            name="balance"
                            placeholder="balance"
                            formControlName="balance"
                            >
                            <!-- <mat-error *ngIf="ModifyAccountForm.get('balance').invalid && ModifyAccountForm.get('balance').touched">
                                balance is required.
                            </mat-error>     -->

                        </mat-form-field>
                    </div>
                </div>

                
                    <div class="w-full md:w-1/2">
                            <div class="!pb-4">
                                <mat-form-field class="full-width">
                                    <input 
                                    matInput
                                    name="currency"
                                    formControlName="currency" 
                                    placeholder="currency">
                                </mat-form-field>
                                <!-- <mat-error *ngIf="ModifyAccountForm.get('currency').invalid && ModifyAccountForm.get('currency').touched">
                                    currency is required.
                                </mat-error>     -->
        
                            </div>
                    
                            <div class="!pb-4">
                                <mat-form-field class="full-width">
                                    <mat-label>account Type</mat-label>
                                    <mat-select placeholder="accountType" formControlName="accountType">
                                    <mat-option *ngFor="let accountType of accountTypes" [value]="accountType">
                                    @if(accountType === 'SAVINGS_ACCOUNT'){
                                        Savings
                                    }
                                    @else if (accountType === 'DEMAND_DEPOSIT_ACCOUNT') {
                                        Deposit Account 
                                    }
                                    </mat-option>
                                    </mat-select>
                                    <!-- <mat-error *ngIf="ModifyAccountForm.get('accountType').invalid && ModifyAccountForm.get('accountType').touched">
                                        account Type is required.
                                    </mat-error>     -->
    
                                </mat-form-field>
                            </div>
    
                    
                        </div>


            </div>
            <button 
            mat-raised-button 
            color="primary" 
            (click)="submit()"
            [disabled]="ModifyAccountForm.invalid"
            >Submit</button>
        </form>
    </mat-card-content>
</mat-card>

