<div class="m-8">
  <div class="flex flex-wrap">
    <div *ngFor="let c of (colors | keyvalue)" class="w-full md:w-1/2">
      <div class="m-8 mat-elevation-z1 rounded overflow-hidden">
          <div
          style="height: 64px"
          class="{{ c.key }}-{{ shade.key }} {{ c.key }}-{{ shade.key }}-fg px-4 py-6"
          *ngFor="let shade of (c.value | keyvalue)"
        >
          <span>BG Color Class .{{ c.key }}-{{ shade.key }}</span>
          <span class="float-right">Text Color Class .{{ c.key }}-{{ shade.key }}-fg</span>
        </div>
      </div>
    </div>
  </div>
</div>
